{% extends "home.html"%}
{% block body %}
<!-- component -->
<div class="table w-full p-2">
    <table class="w-full border">
        <thead>
            <tr class="bg-gray-50 border-b">
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        ID ACTIVITIES
                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                       ACTIVITIES                       
                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        DESCRIPCION                        
                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        STATUS                        
                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        ACTION
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for  activity in activities %}
            <tr class="bg-gray-100 text-center border-b text-sm text-gray-600">
                <td class="p-2 border-r">{{activity.0}}</td>
                <td class="p-2 border-r">{{activity.3}}</td>
                <td class="p-2 border-r">{{activity.4}}</td>
                <td class="p-2 border-r">
                    <input id="status"  name="status" value="OK" type="checkbox">
                </td>
                <td>
                    <a href="/edit/{{activity.0}}" class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin"  type="submit" name="edit">Edit</a>
                    <a href="/delete/{{activity.0}}" class="bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin"  type="submit" name="delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="p-2">
    <a href="#" class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin"  type="submit" name="edit">Consult</a>
</div>
{% endblock %}